
.box {
    border-radius: 5px;

    /* Use box-sizing so that element's outerwidth will match width property */
    box-sizing: border-box;

    /* Allow box to grow and shrink, and ensure they are all equally sized */
    flex: 1 0 auto;
}

.btn:hover{
    border: 1px solid Grey;
    
}

.carousel-control-prev,
.carousel-control-next,
.carousel-caption
{    
    mix-blend-mode: difference;    
}

.codePanel{
    width: 75vw;            
}

.commentBox {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.commentsDivScroll{
    overflow-y: scroll;
    height: 84vh;
    word-wrap: break-word;
    width: 23.9vw;
}

.commentGroupSpacing {
    margin-top: 10px;
    margin-bottom: 10px;
    border: thick solid #000000;
}

.comment-text {
    resize: none;
    white-space: normal;
    text-align: justify;
    -moz-text-align-last: center; 
    text-align-last: center;
}

.commentWindow{
    width: 20vw;
}

.contain{
    object-fit: contain;
}

.d-flex {
    align-items: center;
    display: flex;
}

.data-list-style {
    display: inline-block;
}

.deleteOnLine {
    font-style: italic;
    color: red;
}

.dragBar {
    width: 20px;
    padding: 0;
    cursor: ew-resize;
    flex: 0 0 auto;
}

.dragBar::before {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    /* background: gray; */
    margin: 0 auto;
    border-left: 2px dotted #444;
}

.draggable{
    cursor: move;
}

.draggable.dragging{
    opacity: 0.5;
}

.highlight {
    position:absolute;
    z-index:20; /* place in a layer above anything with a lower z-index */
    background-color:limegreen;
    opacity: 20%;
}

.imageCancelButton{
    position: absolute;
    top: 10%;
    left: 90%;
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    background-color: transparent;
    color: red;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.image-div{
    position: relative;
    width: 100%;
    max-width: 500px;
      
}

.imageCancelButton:hover {
    opacity: 0.5
}

#imgToExpand {
    animation-name: zoom;
    animation-duration: 0.6s;
    border-radius: 5px;
    transition: 0.3s;
    min-width: 1000px;   
}

.imgExpandModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.insertOnLine {
    text-decoration: underline;
    font-weight: bold;
}
  
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.mediaAddButton {
    margin-bottom: 0px;
}

.mediaGallery {
    padding: 5px;
    margin: 3px 5px 25px 5px;
    border-radius: 5px;
    border: 5px solid lightgray;
    min-height: 50px;
}

.mediaImage {
    height: 250px;
    margin: 5px;
    border-width: 2px;
}

.mediaVideo, .mediaAudio {
    height: 250px;
}
.mediaVideoCard, .mediaAudioCard {
    margin: 50px 0px;
    
 }

.mediaAudio {
    height: 250px;
    margin: 5px;
    border-width: 2px;
}

.mediaSelected {
    background-color: rgb(188, 204, 218);
    border-color: rgb(88, 137, 153);
    
}

.modalClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modalClose:hover,
.modalClose:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.newCodeHighlight {
    position:absolute;
    z-index:20; /* place in a layer above anything with a lower z-index */
    background-color:white;
    opacity: 20%;
}

.playbackWindow {
    height: calc(100vh - 160px);   
   
    /* overflow-y: scroll; */
}

.slider {
    height: 40px;
}

.storytellerCommentEditable:empty:before{ 
    content:attr(data-ph);
    color: grey;
}

.storytellerCommentEditable {
    min-height: 200px;
    overflow: auto;
    resize: vertical;
}
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabHeight {
    height: 40px;
}

.textarea {
resize: none;
}

.ui-slider-tick-mark {
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 16px;
    z-index: -1;
}

#URL{
    overflow-x: auto;
    white-space: nowrap;
}

.wrapper {
    background-color: #fff;
    color: #444;
    /* Use flexbox */
    display: flex;
}

