.mediaAddButton {
    margin-bottom: 0px;
}

.mediaGallery {
    padding: 5px;
    margin: 3px 5px 25px 5px;
    border-radius: 5px;
    border: 5px solid lightgray;
    min-height: 50px;
}

.mediaImage {
    height: 250px;
    margin: 5px;
    border-width: 2px;
}

.mediaVideo, .mediaAudio {
    height: 250px;
}
.mediaVideoCard, .mediaAudioCard {
    margin: 50px 75px;
}

.mediaAudio {
    height: 250px;
    margin: 5px;
    border-width: 2px;
}

.mediaSelected {
    background-color: rgb(188, 204, 218);
    border-color: rgb(88, 137, 153);
    
}